.cart-icon {
  display: flex;
  margin: 0px 5px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(49, 189, 196, 0.522);
  padding: 0px 5px 0px 0px;
  border-radius: 15px;
  height: 35px;
}
.cart-icon i {
  width: 50%;
  margin: 5px;
  display: inline;
  font-size: 28px;
  color: white;
}
.cart-icon__badge {
  display: inline-flex;
  background-color: rgba(211, 137, 137, 0.613);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  color: white;
}
