.productDetail {
  border: 3px solid var(--navColor);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 20px 50px;
  padding: 5px;
}
.productDetail__img {
  width: 50%;
}
.productDetail__img img {
  max-height: 500px;
  max-width: 100%;
  border-radius: 5px;
}
.productDetail__description {
  width: 50%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.productDetail__description h1 {
  font-size: 40px;
  margin: 10px;
}
.productDetail__description p {
  font-size: 20px;
  margin: 10px;
}
.productDetail__description button {
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(70, 67, 67);
  background-color: var(--navColor);
  transition: all 0.2s ease-in;
  width: 60%;
}
.productDetail__description button:hover {
  box-shadow: 0px 4px 5px 0px rgb(109, 106, 106);
  background-color: rgba(53, 200, 200, 0.6);
}
