@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  padding: 0px 5px;
}

.loading-spinner {
  border: 10px solid #d1cdcd9e; /* Light grey */
  border-top: 10px solid var(--navColor);
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
