.order {
  max-width: 100%;
  border-radius: 20px;
  text-align: center;
}

.order h1 {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  color: var(--navColor);
}

.control {
  margin-bottom: 15px;
}

.control label {
  display: block;
  color: black;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #f1e1fc;
  color: #38015c;
  border-radius: 10px;
  border: 1px solid white;
  width: 90%;
  text-align: left;
  padding: 10px;
}

.actions {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions button {
  margin-top: 10px;
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: rgb(211, 137, 137);
  border: 1px solid rgba(211, 137, 137, 0.739);
  border-radius: 10px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: rgba(211, 137, 137, 0.739);
  border-color: rgba(211, 137, 137, 0.739);
}
