.auth {
  margin: 3rem auto;
  max-width: 30rem;
  border-radius: 20px;
  background-color: rgba(34, 150, 156, 0.612);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.auth h1 {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 30px;
}

.control {
  margin-bottom: 15px;
}

.control label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #f1e1fc;
  color: #38015c;
  border-radius: 10px;
  border: 1px solid white;
  width: 90%;
  text-align: left;
  padding: 10px;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: rgb(211, 137, 137);
  border: 1px solid rgba(211, 137, 137, 0.739);
  border-radius: 10px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: rgba(211, 137, 137, 0.739);
  border-color: rgba(211, 137, 137, 0.739);
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: rgb(200, 134, 134);
  border: none;
  font-weight: 500;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: rgba(213, 148, 148, 0.685);
}
