:root {
  --navColor: rgba(49, 189, 196, 0.7);
}
.navbarHeader {
  height: 58px;
}
.navbarHeader i {
  display: inline;
  color: white;
}

.NavbarTitleSection {
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(225, 148, 148, 0.872);
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar__title {
  display: inline;
  width: auto;
}
.Navbar__title i {
  font-size: 30px;
}

.Navbar__title h1 {
  margin: 10px;
  color: white;
  display: inline;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}
