.first-section {
  background-color: rgba(211, 137, 137, 0.739);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  box-sizing: border-box;
  margin: 10px;
  border-radius: 10px;
}

.first-section img {
  width: 50%;
  height: auto;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid var(--navColor);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.first-section__scroll {
  display: flex;
  overflow: scroll;
  width: 51%;
}

.first-section__description {
  width: 45%;
  padding: 5px 0;
  color: white;
  border-left: 1px solid white;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}

.first-section__description a {
  margin: 0em;
  padding: 0;
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.first-section__description a:hover {
  color: rgb(245, 220, 220);
}

.second-section {
  display: flex;
  justify-content: space-between;
}
.second-section__category {
  width: 50%;
}
.second-section__category img {
  width: 70%;
}
.second-section__footer a {
  text-decoration: none;
  color: rgb(211, 137, 137);
  font-size: 20px;
  font-weight: 500;
  transition: all 0.2s ease;
}
.second-section__footer a:hover {
  color: rgb(249, 186, 186);
  font-size: 20px;
  font-weight: 480;
}

.third-section {
  margin: 10px;
  margin-bottom: 0;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(49, 189, 196, 0.527);
  color: rgba(0, 0, 0, 0.517);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.third-section h1 {
  font-size: 25px;
}
